.footer {
  width: 100%;
  min-height: var(--footer-height);
  background-color: var(--main-color);
  padding: 1em;
  display: flex;
}

.footer-section {
  text-align: start;
  color: white;
  margin-top: 15px;
}

.footer-section .section-title {
  color: white;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 6px;
}

.footer ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;

  margin: 0px;
  list-style-type: none;
  display: grid;
}

.footer ul li::before {
  content: "\2022";
  color: white;
  display: inline-block;
  margin-right: 10px;
  font-size: 25px;
  line-height: 15px;
  vertical-align: -6px;
}

.footer ul li {
  margin-left: 1em;
  margin-bottom: 0.7rem;
  color: #fff;
}

a {
  color: white;
  font-size: 16px;
  -webkit-text-decoration: underline white;
  text-decoration: underline white;
}

.footer-section ul li span {
  width: 50px;
  display: inline-block;
}

.col-5 {
  width: 41.66%;
}

.col-7 {
  width: 58.33%;
}

.col-10 {
  width: 83.33%;
}

.col-12 {
  width: 100%;
}

.mr-3 {
  margin-right: 1rem;
}

svg {
  margin-right: 5px;
  width: 20px;
  vertical-align: -0.225em;
  display: inline-block;
  font-size: 1.333333em;
  line-height: 0.75em;
}
