td {
  font-size: 14px;
  color: #000;
  padding: 1rem !important;
}

td > p {
  margin-bottom: 0.5rem;
}

.more-info {
  max-width: 100px;
  width: 100px;
}

.m-0 {
  margin: 0px;
}

.p-5 {
  padding: 3rem;
}